{
  "extends": "airbnb",
  "rules": {
    "comma-dangle": 0,
    "global-require": 0,
    "react/jsx-filename-extension": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/extensions": 0,
    "import/first": 0
  }
}
